.banner {
  background-image: url("../images/background.png");
  object-fit: cover;
  width: 100%;
  margin-top: -22px;
}

.banner-container {
  color: white;
  padding: 230px 300px;
}

.banner p {
  color: rgb(175, 173, 173);
  font-size: 20px;
}

.banner a {
  background-color: #1EDD88;
  color: white;
  border-radius: 40px;
  line-height: 3;
  padding: 17px 35px;
}
