.footer {
  background-color: #2c2b2b;
  text-align: center;
  margin-top: 40px;
  padding-top: 80px;
  height: 150px;
}

.fa-brands {
  scale: 1.8;
  margin: 0px 10px;
}

.footer p {
  font-size: 16px;
  color: rgb(126, 123, 123);
  line-height: 2;
}
